@media screen and (max-width: 800px) {

    .containerConversaoReviews, .destaques, .sobreFaq, .jordan, .livro {

        flex-direction: column;
    }

    h1 {
        font-size: 30px;
        
    }
    

    p, b {
        font-size: 18px;
    }

    summary{
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .navigation-menu {
        display: none;
    }

    /* CHAMADA */

    .contentChamada {
        all: initial;
        margin: 0 auto;
        height: 700px;
        position: relative;
        z-index: 2;
        transition: transform 3s ease;
    }

    .retirarContentChamada {
        transform: scale(0.001) translate(100%);
    }

    .caixaTitulo1Chamada {
        all: initial;
        z-index: 1;
        height: 400px;
        width: 300px;
        margin-left: 10%;
        text-align: left;
        color: white;
    }

    .caixaTitulo1Chamada h1 {
        height: 100%;
        font-size: 60px;

    }

    .caixaTitulo2Chamada {
        all: initial;
        color: white;
        height: 25px;
        width: 700px;
        margin-top: 50px;
        margin-left: -325px;
    }

    .caixaTitulo2Chamada h2 {
        font-size: 15px;
    }

    .caixaImagensChamada {
        all: initial;
        display: inline-block;
        position: relative;
        z-index: 2;
        margin-top: -195px;
        margin-left: -70px;
    }

    #bola {
        position: absolute;
        z-index: 2;
        height: 125px;
        width: 125px;
        border-radius: 125px;
        display: inline-block;
        margin-top: 0%;
    }

    #tenis {
        position: relative;
        z-index: 3;
        width: 175px;
        margin-top: -30%;
        margin-left: -20px;
    }

    #btnPlayHighlights {
        all: initial;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 3;
        background-color: #000000;
        border-radius: 50%;
    }

    .video-container iframe {
        height: 100vh;
        top: -20%;
        left: -70%;
        width: 320%;
        height: calc(100% + 250px);
        transition: height 3s ease, top 3s ease, left 3s ease, width 3s ease;
    }

    .video-container-alto iframe {
        position: absolute;
        top: -125px;
        left: 0;
        width: 100%;
        height: calc(100% + 250px);
        opacity: 1;
        pointer-events: none;
        transition: opacity 3s ease;
        transition: height 3s ease, top 3s ease, left 3s ease, width 3s ease, opacity 3s ease;
    }
    

    /* PRODUTOS */


    /* DESTAQUES */

    .cardDestaques div {
        background-color: #fff;
        width: 300px;
        height: 300px;
        border-radius: 300px;
        border: 10px double darkgray;
        display: inline-block;
    }
    
    .cardDestaques div img {
        width: 250px;
        height: 209px;
        margin-bottom: 40px;
    }

    .fundo {
        background-color: black;
        width: 80%;
        margin: auto;
        border: none;
    }

    /* GALERIA */
    .jordan {
        gap: 20px;
    }

    .jordan p, .livro p {
        padding: 5px;
        font-size: 16px;
    }

    .jordan img {
        width: 80%;
        height: 80%;
        margin: auto;
    }

    .tenis {
        flex-direction: column;
    }

    .tenis p {
        width: 100%;
        font-size: 26px;
        margin-top: 16px;
    }

    .tenis  span{
        font-size: 20px;
    }

    .filme {
        align-items: center;
        background-color: cadetblue;
    }

    .filme iframe {
        width: 560px;
        height: 315px;
    }

    .livro img {
        width: 80%;
        margin: auto;
    }

    /* SOBRE/FAQ */
    .sobre {
        width: 100%;
        border: none;
        padding: 20px;
    }

    .sobre p {
        padding: 20px;
    }

    .sobre img {
        width: 40%;
    }

    .faq {
        padding: 10px;
    }

    .sobre p {
        font-size: 14px;

    }

    details p {
        font-size: 14px;
    }

    /* CONVERSAO / PROVA */
    .conversao {
        text-align: center;
        width: 100%;
    }

    .conversao p{
        font-size: 15px;
        width: 80%;
        margin: auto;
        color: rgb(182, 182, 182);
    }

    .containerborda {
        border: none;
        border-top: 1px solid white;
        margin-top: 40px;
    }

    form {
        width: 80%;
    }

}